.jumbotron-center{
    text-align:center;
}
form label{
    width:25%;
}
.helptext{
display:none;
}
input{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;

}
.usr-info{
padding: 15px;
    float: right;
}
.prod-img img{
    width: 182px;
    height: 182px;
}
.prod-name{
    height: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prod-item.col-md-3 {
    padding-bottom: 15px;
}

.container-main {
    height: calc(100vh - 73px);
    padding: 20px;
    overflow: auto;
}